*.map
*.ts
!index.d.ts
!login.android.d.ts
!login.common.d.ts
!login.ios.d.ts
tsconfig.json
scripts/*
platforms/android/*
!platforms/android/include.gradle
!platforms/android/*.aar
!platforms/android/*.jar
.DS_Store
